@charset "utf-8";
@import "normalize";

@import "utils/screen";
@import "utils/reset";



body {
  background: #404040;
  text-align: center;
  font-family: "Drakalligro", Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 6em;
  @include hop-screen(large) { height: 12em; }
  @include hop-screen(huge) { height: 14em; }
  margin-top: 4em;
}

h1 {
  color: white;
  font-family: "Drakalligro", Arial, sans-serif;
  font-size: 1.5em;
  @include hop-screen(large) { font-size: 1.8em; }
  @include hop-screen(huge) { font-size: 1.8em; }
  font-weight: 100;
  margin: 2em;
}

p {
  color: white;
  font-family: "Drakalligro", Arial, sans-serif;
  font-size: 1.2em;
  @include hop-screen(large) { font-size: 1.5em; }
  @include hop-screen(huge) { font-size: 1.5em; }
  font-weight: 100;
  margin: 2em;
}

.social-icons img {
  height: 1.5em;
  @include hop-screen(large) { font-size: 2em; }
  @include hop-screen(huge) { font-size: 2em; }
  padding: 0.5em;
}

.copywrite p {
  font-size: 0.6em;
  @include hop-screen(large) { font-size: 0.8em; }
  @include hop-screen(huge) { font-size: 0.8em; }
}
