@charset "utf-8";
@import "normalize";

body {
  background: #404040;
  text-align: center;
  font-family: "Drakalligro", Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 14em;
  margin-top: 6em;
}

h1 {
  color: white;
  font-family: "Drakalligro", Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  margin: 2em;
}

p {
  color: white;
  font-family: "Drakalligro", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 100;
  margin: 2em;
}

.social-icons img {
  height: 2.5em;
  padding: 0.5em;
}
