<nav>
  <ul class="topnav">
    <li>
      <a href="/">
        <span class="nav-item-text">Home</span>
      </a>
    </li>
    <li>
      <a href="/about">
        <span class="nav-item-text">About us</span>
      </a>
    </li>
    <li>
      <a href="/blog">
        <span class="nav-item-text">Blog</span>
      </a>
    </li>
  </ul>
</nav>
