<div class="about-main">
  <h1>Meet the teachers????</h1>
  <div class="about-both">
    <p>Katy and Sarah began Hoppipolla with one mission - to create videos to help parents
      (and Newly Qualified Teachers) understand just how Phonics, English and Maths is taught
      in primary schools today.  They met whilst teaching in the same school, where they realised
      their love of all things techy (along with singing in the best choir RiffRaff) may help
      them engage and empower parents up and down the land.
    </p>
  </div>
  <div class="about-s">
    <h2>Sarah</h2>
    <p>Sarah, a teacher of eight years with a love of singing, dog-walking, ukulele-playing and
      of course teaching has taught in a range of schools and lived abroad for a number of years
      enjoying the cheese and vineyards of sunny France. Now back in her home town she enjoys nothing
      more than having the, 'I've got it' moment with children in her class and is looking forward to
      helping parents discover the whole host of weird and wonderful methods taught in schools today
      through the medium of video.
    </p>
  </div>
  <div class="about-k">
    <h2>Katy</h2>
    <p>Katy loves squeezing adventure into her life whether this involves going for a walk up the nearest
      mountain or driving through Europe and seeing where the road takes her. Katy has taught for seven years,
      one of which was in Australia. Summer 2016 she visited the Reggio Emilia Centre in Italy which has left
      her more inspired that ever to ensure every child makes progress by engaging in deep and creative
      learning opportunities both at home and school.
    </p>
  </div>
</div>
